FORMAT: 1A
HOST: http://api.jcpenney.com


# JCPenney REST APIs

The JCPenney REST APIs provide programmatic access to our digital e-commerce platform resources. By utilising one of the five different APIs, developers can get information on the following:

* Catalog
* Account
* Order
* Stores
* Opt-in

Each API supports the JSON response format.

### Questions?
Please contact api-dl@jcp.com with any questions or comments.



# Group Catalog
This document explains the functionalities exposed by Catalog REST API. Catalog consists of departments, categories and products. At the top level of the hierarchy is a department. Each department contains sub categories underneath it, and each category can contain either sub categories or products. Consumers can either browse through the catalog or search the catalog.
Consumers can view detailed information about the product along with inventory and price information for a specific store or online channel. The API also provides list of recommended products for a given product and ability for user to view and add reviews to a given product.

## Departments [/departments]
Departments are the root elements in the catalog. Categories are assigned to a department and can be used to form the catalog navigational hierarchy.

### Department list [GET]
Retrieves all active/available departments in the catalog.

+ Response 200

    + Headers

            Content-Type: application/json
            X-Data-Type: (required, String, 'Department[]')

    + Body

            [
                {
                    "id": "dept20000011",
                    "url": "http://api.jcpenney.com/v2/departments/dept20000011",
                    "name": "for the home",
                    "clearance": false
                },
                {
                    "id": "dept20000012",
                    "url": "http://api.jcpenney.com/v2/departments/dept20000012",
                    "name": "bed & bath",
                    "clearance": false
                },
                {
                    "id": "dept20022800026",
                    "url": "http://api.jcpenney.com/v2/departments/dept20022800026",
                    "name": "window",
                    "clearance": false
                },
                {
                    "id": "dept20000013",
                    "url": "http://api.jcpenney.com/v2/departments/dept20000013",
                    "name": "women",
                    "clearance": false
                },
                {
                    "id": "dept20000014",
                    "url": "http://api.jcpenney.com/v2/departments/dept20000014",
                    "name": "men",
                    "clearance": false
                },
                {
                    "id": "dept20021210041",
                    "url": "http://api.jcpenney.com/v2/departments/dept20021210041",
                    "name": "clearance",
                    "clearance": true
                }
            ]

    + Schema


            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "List of departments",
                "type": "array",
                "items": {
                    "title": "Department",
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string",
                            "description": "Unique identifier for the department."
                        },
                        "url": {
                            "type": "URL",
                            "description": "URL to retrieve the department information."
                        },
                        "name": {
                            "type": "string",
                            "description": "Name of the department."
                        },
                        "clearance": {
                            "type": "boolean",
                            "description": "Indicates whether the department is a clearance department",
                            "default": false
                        },
                        "image": {
                            "type": "URL",
                            "description": "URL to the image assigned to the department."
                        },
                        "highResolutionImage": {
                            "type": "URL",
                            "description": "URL to the highResolutionImage assigned to the department."
                        }
                    },
                    "required": [
                        "id",
                        "url",
                        "name",
                        "clearance"
                    ]
                }
            }

+ Response 500


    + Headers

            Content-Type: application/json
            X-Data-Type: (required, String, 'ExceptionMessage')

    + Body

            {
                "errorCode": "SRV_GENERIC_ERROR",
                "errorMessage": "There was an error while processing your request. Please try after some time."
            }

    + Schema


            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "ExceptionMessage",
                "description": "Represents the error in the system.",
                "properties": {
                    "errorCode": {
                        "type": "string",
                        "description": "Error code indicating the type of error."
                    },
                    "errorMessage": {
                        "type": "string",
                        "description": "Descriptive message for the error in the system."
                    }
                },
                "required": [
                    "errorCode",
                    "errorMessage"
                ]
            }



## Department [/departments/{departmentId}]
The department resource provides complete information about the department and also provides information about the categories assigned to the department.
An active department has at least one category assigned to it.

### Get a department [GET]
Retrieves a single department resource matching the department id passed in the request URL.

+ Parameters
    + departmentId (required, String, `dept20000013`) ... Unique identifier for the department.

+ Response 200


    + Headers

            Content-Type: application/json
            X-Data-Type: (required, String, 'Department')

    + Body

            {
                "id": "dept20000013",
                "name": "women",
                "clearance": false,
                "categories": [
                    {
                        "id": "cat20000013",
                        "url": "http://api.jcpenney.com/v2/categories/cat20000013",
                        "name": "SHOP SPECIAL SIZES",
                        "clearance": false,
                        "brand": false,
                        "header": true
                    },
                    {
                        "id": "cat2000014",
                        "url": "http://api.jcpenney.com/v2/categories/cat2000014",
                        "name": "SHOP CLOTHING",
                        "clearance": false,
                        "brand": false,
                        "header": true
                    },
                    {
                        "id": "cat2000015",
                        "url": "http://api.jcpenney.com/v2/categories/cat2000015",
                        "name": "SHOP ACCESSORIES",
                        "clearance": false,
                        "brand": false,
                        "header": true
                    },
                    {
                        "id": "cat2000016",
                        "url": "http://api.jcpenney.com/v2/categories/cat2000016",
                        "name": "SHOP BRANDS",
                        "clearance": false,
                        "brand": false,
                        "header": true
                    },
                    {
                        "id": "cat2000017",
                        "url": "http://api.jcpenney.com/v2/categories/cat2000017",
                        "name": "EXPLORE SHOPS",
                        "clearance": false,
                        "brand": false,
                        "header": true
                    },
                    {
                        "id": "cat2000018",
                        "url": "http://api.jcpenney.com/v2/categories/cat2000018",
                        "name": "SHOP SALE & CLEARANCE",
                        "clearance": false,
                        "brand": false,
                        "header": true
                    }
                ]
            }

    + Schema


            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "type": "object",
                "title": "Department",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier of the department."
                    },
                    "name": {
                        "type": "string",
                        "description": "Name of the department."
                    },
                    "clearance": {
                        "type": "boolean",
                        "description": "Indicates whether the department is a clearance department.",
                        "default": false
                    },
                    "image": {
                        "type": "URL",
                        "description": "URL to the image assigned to the department."
                    },
                    "highResolutionImage": {
                        "type": "URL",
                        "description": "URL to the highResolutionImage assigned to the department."
                    },
                    "categories": {
                        "type": "array",
                        "title": "Categories set",
                        "items": {
                            "type": "object",
                            "title": "Category",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "Unique identifier of the category."
                                },
                                "url": {
                                    "type": "URL",
                                    "description": "URL to retrieve the sub-categories assigned to the category."
                                },
                                "name": {
                                    "type": "string",
                                    "description": "Name of the category."
                                },
                                "clearance": {
                                    "type": "boolean",
                                    "description": "Indicates whether the category is a clearance category.",
                                    "default": false
                                },
                                "brand": {
                                    "type": "boolean",
                                    "description": "Indicates whether the category is a brand category.",
                                    "default": false
                                },
                                "header": {
                                    "type": "boolean",
                                    "description": "Indicates whether the category is a Header category.",
                                    "default": false
                                },
                                "image": {
                                    "type": "URL",
                                    "description": "URL to the image assigned to the category."
                                },
                                "highResolutionImage": {
                                    "type": "URL",
                                    "description": "URL to the highResolutionImage assigned to the category."
                                }
                            },
                            "required": [
                                "id",
                                "url",
                                "name",
                                "clearance",
                                "brand",
                                "Header"
                            ]
                        }
                    }
                },
                "required": [
                    "id",
                    "name",
                    "clearance"
                ]
            }



+ Response 404


    + Headers

            Content-Type: application/json
            X-Data-Type: (required, String, 'ExceptionMessage')

    + Body

            {
                "errorCode": "SRV_DEPARTMENT_NOTFOUND",
                "errorMessage": "Department not found."
            }

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "ExceptionMessage",
                "description": "Represents the error in the system.",
                "properties": {
                    "errorCode": {
                        "type": "string",
                        "description": "Error code indicating the type of error."
                    },
                    "errorMessage": {
                        "type": "string",
                        "description": "Descriptive message for the error in the system."
                    }
                },
                "required": [
                    "errorCode",
                    "errorMessage"
                ]
            }

+ Response 500


    + Headers

            Content-Type: application/json
            X-Data-Type: (required, String, 'ExceptionMessage')

    + Body

            {
                "errrorCode": "SRV_GENERIC_ERROR",
                "errorMessage": "There was an error while processing your request. Please try after some time."
            }

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "ExceptionMessage",
                "description": "Represents the error in the system.",
                "properties": {
                    "errorCode": {
                        "type": "string",
                        "description": "Error code indicating the type of error."
                    },
                    "errorMessage": {
                        "type": "string",
                        "description": "Descriptive message for the error in the system."
                    }
                },
                "required": [
                    "errorCode",
                    "errorMessage"
                ]
            }


## Category [/categories/{categoryId}]
A category represents a navigational node in the catalog hierarchy. A category can contain categories or products.

There are three types of categories clearance categories, header categories and brand categories. The type of category is represented by the corresponding boolean field.
It is possible for a category to belong to more than one category type.

### Get a category [GET]
Retrieve category resource matching the category id passed in the requested URL.

+ Parameters

    + categoryId (required, String, `cat100240031`) ... Unique identifier of category.

+ Response 200


    + Headers

            Content-Type: application/json
            X-Data-Type: (required, String, 'Category')

    + Body

            {
                "id": "cat20000013",
                "name": "SHOP SPECIAL SIZES",
                "clearance": false,
                "brand": false,
                "header": true,
                "categories": [
                    {
                        "id": "cat100240005",
                        "url": "http://api.jcpenney.com/v2/categories/cat100240005",
                        "name": "plus size",
                        "clearance": false,
                        "brand": false,
                        "header": false
                    },
                    {
                        "id": "cat100250027",
                        "url": "http://api.jcpenney.com/v2/categories/cat100250027",
                        "name": "petites",
                        "clearance": false,
                        "brand": false,
                        "header": false
                    },
                    {
                        "id": "cat100250030",
                        "url": "http://api.jcpenney.com/v2/categories/cat100250030",
                        "name": "talls",
                        "clearance": false,
                        "brand": false,
                        "header": false
                    },
                    {
                        "id": "cat100250032",
                        "url": "http://api.jcpenney.com/v2/categories/cat100250032",
                        "name": "maternity",
                        "clearance": false,
                        "brand": false,
                        "header": false
                    }
                ]
            }

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Categories",
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier of the category."
                    },
                    "name": {
                        "type": "string",
                        "description": "Name of the category."
                    },
                    "clearance": {
                        "type": "boolean",
                        "description": "Indicates whether the category is a clearance category.",
                        "default": false
                    },
                    "brand": {
                        "type": "boolean",
                        "description": "Indicates whether the category represents a brand.",
                        "default": false
                    },
                    "header": {
                        "type": "boolean",
                        "description": "Indicates whether the category is a header category.",
                        "default": false
                    },
                    "image": {
                        "type": "URL",
                        "description": "URL to the image assigned to the category."
                    },
                    "highResolutionImage": {
                        "type": "URL",
                        "description": "URL to the high resolution image associated to the category."
                    },
                    "categories": {
                        "type": "array",
                        "title": "Set of categories",
                        "items": {
                            "type": "object",
                            "title": "Category",
                             "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "Unique identifier of the category."
                                },
                                "url": {
                                    "type": "URL",
                                    "description": "URL to retrieve the sub-categories or products assigned to the category."
                                },
                                "name": {
                                    "type": "string",
                                    "description": "Name of the category."
                                },
                                "clearance": {
                                    "type": "boolean",
                                    "description": "Indicates whether the category is a clearance category.",
                                    "default": false
                                },
                                "brand": {
                                    "type": "boolean",
                                    "description": "Indicates whether the category is a brand category.",
                                    "default": false
                                },
                                "header": {
                                    "type": "boolean",
                                    "description": "Indicates whether the ctaegory is a header category.",
                                    "default": false
                                },
                                "image": {
                                    "type": "boolean",
                                    "description": "URL to the image assigned to the category."
                                },
                                "highResolutionImage": {
                                    "type": "URL",
                                    "description": "URL to the high resolution image associated to the category."
                                }
                            },
                            "required": [
                                "id",
                                "url",
                                "name",
                                "clearance",
                                "brand",
                                "header"
                            ]
                        }
                    }
                },
                "required": [
                    "id",
                    "name",
                    "clearance",
                    "brand",
                    "header"
                ]
            }

+ Response 404

    + Headers

            Content-Type: application/json
            X-Data-Type: (required, String, 'ExceptionMessage')

    + Body

            {
                "errorCode": "SRV_CATEGORY_NOTFOUND",
                "errorMessage": "Category not found."
            }

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "ExceptionMessage",
                "description": "Represents the error in the system.",
                "properties": {
                    "errorCode": {
                        "type": "string",
                        "description": "Error code indicating the type of error."
                    },
                    "errorMessage": {
                        "type": "string",
                        "description": "Descriptive message for the error in the system."
                    }
                },
                "required": [
                    "errorCode",
                    "errorMessage"
                ]
            }

+ Response 500

    + Headers

            Content-Type: application/json
            X-Data-Type: (required, String, 'ExceptionMessage')

    + Body

            {
                "errorCode": "SRV_GENERIC_ERROR",
                "errorMessage": "There was an error while processing your request. Please try after some time."
            }


    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "ExceptionMessage",
                "description": "Represents the error in the system.",
                "properties": {
                    "errorCode": {
                        "type": "string",
                        "description": "Error code indicating the type of error."
                    },
                    "errorMessage": {
                        "type": "string",
                        "description": "Descriptive message for the error in the system."
                    }
                },
                "required": [
                    "errorCode",
                    "errorMessage"
                ]
            }



## Products [/categories/{categoryId}/products{?filters,page,pageSize,sortBy}]
A category can contain one or more products. It returns a list of products that belongs to the given category along with facet information, sort options and pagination.

Note: Prices provided in the response always represent Online price for the product.

### Get products in a category. [GET]
Retrieves the products in a category.

+ Parameters

    + categoryId (required, String, `cat100240031`) ... Unique identifier of category.
    + page (optional, Integer, `2`) ... Used for pagination of products.
    + pageSize (optional, Integer, `24`) ... Min 24 Max 96. default: 24. Used to indicate the number of products to be retrieved. If the number of products requested is more than the number of products assigned to the category then all the products in the category are returned.
    + sortBy (optional, String, `pricehightolow`) ... one of ('featured', 'pricehightolow', 'pricelowtohigh', 'ratingshightolow', 'ratingslowtohigh'). default: 'featured'. Used for sorting the products.
    + filters (optional, String, `1234`) ... Used for facet navigation of products.

+ Request

            Example: http://api.jcpenney.com/v2/categories/cat100240031/products?filters=600000&page=2&pageSize=24&sortBy=featured

    + Headers

            X-Currency: String ... (optional, String, `USD`)


+ Response 200


    + Headers

            Content-Type: application/json
            X-Data-Type: (required, String, 'Products')

    + Body

            {
                "id": "cat100210008",
                "name": "dresses",
                "clearance": false,
                "brand": false,
                "header": false,
                "products": [
                    {
                        "id": "pp5003200163",
                        "url": "http://api.jcpenney.com/v2/products/pp5003200163",
                        "name": "9 & Co.® Ruffle-Front Dress",
                        "isNew": false,
                        "rating": 0,
                        "reviewCount": 0,
                        "images": [
                            {
                                "url": "http://zoom.jcpenney.com/is/image/DP0905201317011659M.tif",
                                "swatchUrl": "http://zoom.jcpenney.com/is/image/DP0905201317011659M.tif",
                                "type": "PRIMARY",
                                "altText": "9 & Co.® Ruffle-Front Dress"
                            }
                        ],
                        "prices": [
                            {
                                "type": "ORIGINAL",
                                "min": 70,
                                "max": 70
                            },
                            {
                                "type": "SALE",
                                "min": 27.99,
                                "max": 27.99
                            }
                        ]
                    },
                    {
                        "id": "pp5003230750",
                        "url": "http://api.jcpenney.com/v2/products/pp5003230750",
                        "name": "Studio 1® Sweater Dress",
                        "isNew": false,
                        "rating": 4.7,
                        "reviewCount": 3,
                        "images": [
                            {
                                "url": "http://zoom.jcpenney.com/is/image/DP1030201318275736C.tif",
                                "swatchUrl": "http://www.jcpenney.com/dotcom/images/DP0925201317032943S.jpg",
                                "type": "PRIMARY",
                                "altText": "Black/Ivory"
                            },
                            {
                                "url": "http://zoom.jcpenney.com/is/image/DP0925201317032993M.tif",
                                "swatchUrl": "http://www.jcpenney.com/dotcom/images/DP0925201317032694S.jpg",
                                "type": "SWATCH",
                                "altText": "Black/grey/Ivory"
                            },
                            {
                                "url": "http://zoom.jcpenney.com/is/image/DP0925201317032993M.tif",
                                "swatchUrl": "http://www.jcpenney.com/dotcom/images/DP0925201317032444S.jpg",
                                "type": "SWATCH",
                                "altText": "Drk Grey/grey/ivor"
                            }
                        ],
                        "prices": [
                            {
                                "type": "ORIGINAL",
                                "min": 50,
                                "max": 50
                            },
                            {
                                "type": "SALE",
                                "min": 19.99,
                                "max": 19.99
                            }
                        ]
                    },
                    {
                        "id": "pp5003460186",
                        "url": "http://api.jcpenney.com/v2/products/pp5003460186",
                        "name": "R&K Originals® Belted V-Neck Sweater Dress",
                        "isNew": true,
                        "rating": 0,
                        "reviewCount": 0,
                        "images": [
                            {
                                "url": "http://zoom.jcpenney.com/is/image/DP1018201317020918M.tif",
                                "swatchUrl": "http://www.jcpenney.com/dotcom/images/DP1021201317025786S.jpg",
                                "type": "PRIMARY",
                                "altText": "Cherry"
                            },
                            {
                                "url": "http://zoom.jcpenney.com/is/image/DP1018201317020918M.tif",
                                "swatchUrl": "http://www.jcpenney.com/dotcom/images/DP1021201317030536S.jpg",
                                "type": "SWATCH",
                                "altText": "Grey"
                            }
                        ],
                        "prices": [
                            {
                                "type": "ORIGINAL",
                                "min": 60,
                                "max": 60
                            },
                            {
                                "type": "SALE",
                                "min": 29.99,
                                "max": 29.99
                            }
                        ]
                    }
                ],
                "filters": [
                    {
                        "id": "600000",
                        "name": "CATEGORIES",
                        "type": "DEFAULT",
                        "values": [
                            {
                                "id": "100250202",
                                "url": "http://api.jcpenney.com/v2/categories/cat100210008/products?sortBy=featured&page=1&pageSize=24&filters=100250202",
                                "name": "$40 & under",
                                "count": 321,
                                "selected": false,
                                "available": true
                            },
                            {
                                "id": "100250208",
                                "url": "http://api.jcpenney.com/v2/categories/cat100210008/products?sortBy=featured&page=1&pageSize=24&filters=100250208",
                                "name": "bridal dresses",
                                "count": 30,
                                "selected": false,
                                "available": true
                            }
                        ]
                    },
                    {
                        "id": "29",
                        "name": "SIZE RANGE",
                        "type": "DEFAULT",
                        "values": [
                            {
                                "id": "1724",
                                "url": "http://api.jcpenney.com/v2/categories/cat100210008/products?sortBy=featured&page=1&pageSize=24&filters=1724",
                                "name": "juniors",
                                "count": 288,
                                "selected": false,
                                "available": true
                            }
                        ]
                    }
                ],
                "pages": [
                    {
                        "url": "http://api.jcpenney.com/v2/categories/cat100210008/products?pageNum=1&pageSize=24",
                        "number": 1,
                        "selected": true
                    },
                    {
                        "url": "http://api.jcpenney.com/v2/categories/cat100210008/products?pageNum=2&pageSize=24",
                        "number": 2,
                        "selected": false
                    }
                ],
                "sortOptions": [
                    {
                        "url": "http://api.jcpenney.com/v2/categories/cat100210008/products?pageNum=1&pageSize=24&sortBy=featured",
                        "name": "featured",
                        "selected": true,
                        "order": 1
                    },
                    {
                        "url": "http://api.jcpenney.com/v2/categories/cat100210008/products?pageNum=1&pageSize=24&sortBy=pricehightolow",
                        "name": "price high - low",
                        "selected": false,
                        "order": 2
                    },
                    {
                        "url": "http://api.jcpenney.com/v2/categories/cat100210008/products?pageNum=1&pageSize=24&sortBy=pricelowtohigh",
                        "name": "price low - high",
                        "selected": false,
                        "order": 3
                    },
                    {
                        "url": "http://api.jcpenney.com/v2/categories/cat100210008/products?pageNum=1&pageSize=24&sortBy=ratingshightolow",
                        "name": "ratings high - low",
                        "selected": false,
                        "order": 4
                    }
                ]
            }

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "Products",
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier of the category."
                    },
                    "name": {
                        "type": "string",
                        "description": "Name of the category."
                    },
                    "clearance": {
                        "type": "boolean",
                        "description": "Indicates whether the category is a clearance category.",
                        "default": false
                    },
                    "brand": {
                        "type": "boolean",
                        "description": "Indicates whether the category is a brand.",
                        "default": false
                    },
                    "header": {
                        "type": "boolean",
                        "description": "Indicates whether the category is a Header category.",
                        "default": false
                    },
                    "image": {
                        "type": "URL",
                        "description": "URL to the image assigned to the category."
                    },
                    "highResolutionImage": {
                        "type": "URL",
                        "description": "URL to the highResolutionImage assigned to the category."
                    },
                    "count": {
                        "type": "long",
                        "description": "Number of products in the category."
                    },
                    "products": {
                        "title": "List of products",
                        "type": "array",
                        "description": "Array of products",
                        "items": {
                            "title": "Product",
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "Unique identifier of the product."
                                },
                                "url": {
                                    "type": "URL",
                                    "description": "URL to retrieve the product detail information."
                                },
                                "name": {
                                    "type": "string",
                                    "description": "Name of the product."
                                },
                                "isNew": {
                                    "type": "boolean",
                                    "description": "Indicates that the product is a new product.",
                                    "default": false
                                },
                                "rating": {
                                    "type": "double",
                                    "description": "Average rating of the product.",
                                    "default": 0
                                },
                                "reviewCount": {
                                    "type": "integer",
                                    "description": "Number of reviews for the product",
                                    "default": 0
                                },
                                "images": {
                                    "title": "List of images for the product",
                                    "type": "array",
                                    "items": {
                                        "title": "Image",
                                        "type": "object",
                                        "properties": {
                                            "url": {
                                                "type": "URL",
                                                "description": "URL to the product image."
                                            },
                                            "swatchUrl": {
                                                "type": "URL",
                                                "description": "URL to the swatch image for the product."
                                            },
                                            "type": {
                                                "type": "string",
                                                "enum": [
                                                    "PRIMARY",
                                                    "ALTERNATE",
                                                    "SWATCH"
                                                ],
                                                "description": "Indicates the type of product image."
                                            },
                                            "altText": {
                                                "type": "string",
                                                "description": "Alternate text for the image."
                                            }
                                        },
                                        "required": [
                                            "url",
                                            "type"
                                        ]
                                    }
                                },
                                "prices": {
                                    "title": "Array of prices for the product.",
                                    "type": "array",
                                    "items": {
                                        "title": "Price",
                                        "type": "object",
                                        "properties": {
                                            "type": {
                                                "type": "string",
                                                "enum": [
                                                    "ORIGINAL",
                                                    "SALE",
                                                    "CLEARANCE",
                                                    "MSRP"
                                                ],
                                                "description": "Indicates the type of price."
                                            },
                                            "min": {
                                                "type": "double",
                                                "description": "minimum price amount for the product.",
                                                "default": 0
                                            },
                                            "max": {
                                                "type": "double",
                                                "description": "maximum price amount for the product.",
                                                "default": 0
                                            }
                                        },
                                        "required": [
                                            "type",
                                            "min",
                                            "max"
                                        ]
                                    }
                                },
                                "messages": {
                                    "title": "List of messages for the product",
                                    "type": "array",
                                    "items": {
                                        "title": "Message",
                                        "type": "object",
                                        "properties": {
                                            "type": {
                                                "type": "string",
                                                "enum": [
                                                    "CHANNEL_MESSAGING",
                                                    "PROMOTION",
                                                    "TRUCK_DELIVERY"
                                                ],
                                                "description": "Indicates the type of message."
                                            },
                                            "title": {
                                                "type": "string",
                                                "description": "Title of the message"
                                            },
                                            "text": {
                                                "type": "string",
                                                "description": "Detail description of the message."
                                            }
                                        },
                                        "required": [
                                            "type",
                                            "title",
                                            "text"
                                        ]
                                    }
                                }
                            },
                            "required": [
                                "id",
                                "url",
                                "name",
                                "isNew",
                                "rating",
                                "reviewCount",
                                "prices"
                            ]
                        }
                    },
                    "filters": {
                        "title": "Set of filters for facet navigation of products",
                        "type": "array",
                        "items": {
                            "title": "Filter",
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "unique identifier for the filter."
                                },
                                "name": {
                                    "type": "string",
                                    "description": "name of the filter."
                                },
                                "type": {
                                    "type": "string",
                                    "enum": [
                                        "DEFAULT",
                                        "RANGE",
                                        "PRICE_RANGE"
                                    ],
                                    "description": "Indicates the type of filter."
                                },
                                "values": {
                                    "title": "List of filter values which can be applied.",
                                    "type": "array",
                                    "items": {
                                        "title": "FilterValue",
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "description": "Unique identifier for the filter value."
                                            },
                                            "url": {
                                                "type": "URL",
                                                "description": "URL to be used to apply the filter."
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "name of the filter value"
                                            },
                                            "image": {
                                                "type": "URL",
                                                "description": "URL to the image assigned to the dimension value."
                                            },
                                            "count": {
                                                "type": "integer",
                                                "description": "Count of products for which the filter value is applicable.",
                                                "default": 0
                                            },
                                            "selected": {
                                                "type": "boolean",
                                                "description": "Indicates whether the current filter value is selected for the product.",
                                                "default": false
                                            },
                                            "available": {
                                                "type": "boolean",
                                                "description": "Indicates whether the current filter value is available for selection.",
                                                "default": true
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "url",
                                            "name",
                                            "image",
                                            "count",
                                            "selected",
                                            "available"
                                        ]
                                    }
                                }
                            },
                            "required": [
                                "id",
                                "name",
                                "type",
                                "values"
                            ]
                        }
                    },
                    "pages": {
                        "title": "Set of pages for supporting pagination",
                        "type": "object",
                        "items": {
                            "title": "page",
                            "type": "object",
                            "properties": {
                                "url": {
                                    "type": "URL",
                                    "description": "URL to be used to retrieve the products in the required page."
                                },
                                "number": {
                                    "type": "integer",
                                    "description": "Page number",
                                    "default": 1
                                },
                                "selected": {
                                    "type": "boolean",
                                    "description": "Indicates if the current page object is selected.",
                                    "default": false
                                }
                            },
                            "required": [
                                "url",
                                "number",
                                "selected"
                            ]
                        }
                    },
                    "sortOptions": {
                        "title": "List of sort options applicable to the products.",
                        "type": "array",
                        "items": {
                            "title": "SortOption",
                            "type": "object",
                            "properties": {
                                "url": {
                                    "type": "URL",
                                    "description": "URL to be used to retrieve the products sorted in a particular order."
                                },
                                "name": {
                                    "type": "string",
                                    "description": "Name of the sort option."
                                },
                                "selected": {
                                    "type": "boolean",
                                    "description": "Indicates if the sort option is selected.",
                                    "default": false
                                },
                                "order": {
                                    "type": "integer",
                                    "description": "order of the sort option to be displayed.",
                                    "default": 1
                                }
                            },
                            "required": [
                                "url",
                                "name",
                                "selected",
                                "order"
                            ]
                        }
                    }
                },
                "required": [
                    "id",
                    "name",
                    "clearance",
                    "brand",
                    "Header"
                ]
            }

+ Response 400

    + Headers

            Content-Type: application/json
            X-Data-Type: (required, String, 'ExceptionMessage')

    + Body

            Request contains an invalid page.

            {
                "errorCode": "SRV_PAGE_INVALID",
                "errorMessage": "Page number provided is not applicable to the current request."
            }

            Request contains invalid page size.

            {
                "errorCode": "SRV_PAGESIZE_INVALID",
                "Page size provided is invalid. Only value between 24 and 96 is allowed."
            }

            Request contains invalid sort option.

            {
                "errorCode": "SRV_SORTBY_INVALID",
                "errorMessage": "Sort by value provided is invalid. SortBy value should be one of: [featured, pricehightolow, pricelowtohigh, ratingshightolow]."
            }

            Request contains an invalid filter value.

            {
                "errorCode": "SRV_FILTER_INVALID",
                "errorMessage": "The filter value provided is not applicable to the current request."
            }

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "ExceptionMessage",
                "description": "Represents the error in the system.",
                "properties": {
                    "errorCode": {
                        "type": "string",
                        "description": "Error code indicating the type of error."
                    },
                    "errorMessage": {
                        "type": "string",
                        "description": "Descriptive message for the error in the system."
                    }
                },
                "required": [
                    "errorCode",
                    "errorMessage"
                ]
            }

+ Response 404


    + Headers

            Content-Type: application/json
            X-Data-Type: (required, String, 'ExceptionMessage')

    + Body

            {
                "errorCode": "SRV_CATEGORY_NOTFOUND",
                "errorMessage": "Category not found."
            }

    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "ExceptionMessage",
                "description": "Represents the error in the system.",
                "properties": {
                    "errorCode": {
                        "type": "string",
                        "description": "Error code indicating the type of error."
                    },
                    "errorMessage": {
                        "type": "string",
                        "description": "Descriptive message for the error in the system."
                    }
                },
                "required": [
                    "errorCode",
                    "errorMessage"
                ]
            }

+ Response 500


    + Headers

            Content-Type: application/json
            X-Data-Type: (required, String, 'ExceptionMessage')


    + Body

            {
                "errorCode": "SRV_GENERIC_ERROR",
                "errorMessage": "There was an error while processing your request. Please try after some time."
            }


    + Schema

            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "title": "ExceptionMessage",
                "description": "Represents the error in the system.",
                "properties": {
                    "errorCode": {
                        "type": "string",
                        "description": "Error code indicating the type of error."
                    },
                    "errorMessage": {
                        "type": "string",
                        "description": "Descriptive message for the error in the system."
                    }
                },
                "required": [
                    "errorCode",
                    "errorMessage"
                ]
            }


## Product [/products/{productId}{?page,pageSize,storeNumber,storeAddress}]

Catalog contains different types of products such as:

- Regular products : Products with LOT/SKU/COLOR Options
- Single lot, single sku : Product with no LOT/SKU/COLOR options
- Ensemble : Product containing group of Products
- Products with Service agreements and warranties : Product contains service agreements and warranties. When such a product is added the product and the service agreement can be added to the cart/favorites.
- Products with variable data : Products such as monogram products, hemming products, gift cards, made to measure products.

### Get a product [GET]

Retrieves the product resource matching the product id passed in the requested URL.


+ Parameters

    + productId (required, String, `pp5002310768`) ... Unique identifier of the Product for which details are required.
    + page (optional, string, `1`) ... Page Number for which the store information is to be retrieved.
    + pageSize (optional, string, `24`) ... Min 24 Max 96. default: 24. Number of store results to be retrieved.
    + storeNumber (optional, string, `2795`) ... JCPenney store number for which pricing and inventory of nearby stores is to be retrieved.
    + storeAddress (optional, string, `19406/plano,texas/32.767,-117.17`) ... zip code/city state/longitude latitude for which pricing and inventory in near by JCPenney stores is to be retrieved.

+ Request


    + Headers

            X-Currency: String ... (optional, String, `USD`)

+ Response 200


    + Headers

            Content-Type: application/json
            X-Data-Type: (required, String, 'Product')

    + Body

            The examples below are cases when the sku selection has been completed.
            Some of the parameters such as skuId are not provided when sku selection is inprogress.

            **Response for a regular product**.

            {
                "id": "pp5002770550",
                "name": "Grecian Wrap Dress",
                "isNew": false,
                "rating": 0,
                "reviewCount": "0",
                "type": "REGULAR",
                "description": "<p>Wrap yourself in the Grecian-inspired draping of our fabulously flattering dress.</p>\r\n",
                "recommedationsUrl": "http://api.jcpenney.com/v2/products/pp5002770550/recommendations",
                "skuId": "22906380042",
                "inventory": {
                    "status": "AVAILABLE_LOW",
                    "message": "limited stock available"
                },
                "images": [
                    {
                        "url": "http://zoom.jcpenney.com/is/image/DP0424201317003965M.tif",
                        "type": "PRIMARY",
                        "altText": "Grecian Wrap Dress"
                    },
                    {
                        "url": "http://zoom.jcpenney.com/is/image/DP0424201317003965M.tif",
                        "type": "ALTERNATE",
                        "swatchUrl": "http://zoom.jcpenney.com/is/image/DP0424201317003965M.tif",
                        "altText": "Grecian Wrap Dress"
                    }
                ],
                "prices": [
                    {
                        "max": 80,
                        "min": 80,
                        "type": "ORIGINAL"
                    },
                    {
                        "max": 39.99,
                        "min": 39.99,
                        "type": "CLEARANCE"
                    }
                ],
                "options": [
                    {
                        "name": "SIZE",
                        "type": "SKU_OPTION",
                        "optionValues": [
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002770550?SIZE=4",
                                "selected": false,
                                "available": false,
                                "value": "4"
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002770550?SIZE=6",
                                "selected": false,
                                "available": false,
                                "value": 6
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002770550?SIZE=8",
                                "selected": true,
                                "available": true,
                                "value": 8
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002770550?SIZE=10",
                                "selected": false,
                                "available": false,
                                "value": 10
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002770550?SIZE=12",
                                "selected": false,
                                "available": false,
                                "value": 12
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002770550?SIZE=14",
                                "selected": false,
                                "available": false,
                                "value": 14
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002770550?SIZE=16",
                                "selected": false,
                                "available": false,
                                "value": 16
                            }
                        ]
                    },
                    {
                        "name": "COLOR",
                        "type": "COLOR_OPTION",
                        "optionValues": [
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002770550?SIZE=8&COLOR=Soc.cerise",
                                "selected": true,
                                "available": true,
                                "value": "Soc.cerise",
                                "image": {
                                    "swatchUrl": "http://m.jcpenney.com/mobile/images/DP0424201317003987S.jpg",
                                    "type": "SWATCH",
                                    "altText": "Soc.cerise"
                                }
                            }
                        ]
                    }
                ]
            }

            **Response for a product with service agreement**.
            Note: The response also holds good for a single lot single sku product.

            {
                "id": "1845342",
                "name": "Hoover® Carpet Cleaning Steam Vacuum",
                "isNew": false,
                "rating": 3.86,
                "reviewCount": 7,
                "reviewsURL": "http://api.jcpenney.com/v2/products/1845342/reviews",
                "type": "REGULAR",
                "description": "<p>\r\n\tSteamVac TurboPower carpet cleaner with SpinScrub gives your carpets and floors professional-looking results whenever you want without having to rent.</p>\r\n",
                "recommendationsURL": "http://api.jcpenney.com/v2/products/1845342/recommendations",
                "skuId": "86930540018",
                "inventory": {
                    "status": "AVAILABLE",
                    "message": "Available"
                },
                "images": [
                    {
                        "url": "http://zoom.jcpenney.com/is/image/0900631b818648d3M.tif",
                        "type": "PRIMARY",
                        "altText": "Hoover%C2%AE+Carpet+Cleaning+Steam+Vacuum"
                    },
                    {
                        "url": "http://zoom.jcpenney.com/is/image/0900631b818648d3M.tif",
                        "swatchUrl": "http://zoom.jcpenney.com/is/image/0900631b818648d3M.tif",
                        "type": "ALTERNATE",
                        "altText": "Hoover%C2%AE+Carpet+Cleaning+Steam+Vacuum"
                    }
                ],
                "prices": [
                    {
                        "max": 120,
                        "min": 120,
                        "type": "ORIGINAL"
                    },
                    {
                        "max": 120,
                        "min": 120,
                        "type": "DEFAULT"
                    }
                ],
                "serviceAgreements": [
                    {
                        "name": "1YR SVS PLAN POS",
                        "data": "Your new floor care appliance is a real labor saver.  It works hard so you don�t have to!  Relax, it's easy to keep it working hard for you.  Just add a Purchase Protection Plan.The original product warranty covers parts and labor for 24 months (2 Years) from the date of purchase.Your new floor care appliance works hard so you don�t have to! Keep it running smoothly with a Purchase Protection Plan! Protect yourself against unexpected failures and expensive repairs.  The Purchase Protection Plan takes over when the manufacturer�s warranty ends providing 12 months of additional coverage.  If anything goes wrong with your new floor care product during the term of coverage, we�ll replace it. Simple as that! No hassles! No additional charges! No kidding!",
                        "selected": false,
                        "itemId": "86991460000",
                        "url": "http://api.jcpenney.com/v2/products/1845342?COLOR=Black&SERVICE_AGREEMENT=true",
                        "prices": [
                            {
                                "max": 11,
                                "min": 11,
                                "type": "ORIGINAL"
                            },
                            {
                                "max": 11,
                                "min": 11,
                                "type": "DEFAULT"
                            }
                        ]
                    }
                ],
                "warranties": [
                    {
                        "title": "REPAIR: CARRY-IN                        LABOR: 2 Y",
                        "description": "N5998                                                            N5998Sub 869                                                               Jun 2006                                                                                      Full Two Year Warranty                                                    (Domestic use)                                                                                                  Your HOOVER® appliance is warranted in normal household use, in       accordance with the Owner's Manual against original defects in        material and workmanship for a period of two full years from          date of purchase. This warranty provides, at no cost to you, all      labor and parts to place this appliance in correct operating          condition during the warranted period. This warranty applies          when the appliance is purchased in the United States including        its territories and possessions, or in Canada or from a U. S.         Military Exchange. Appliances purchased elsewhere are covered by      a limited one year warranty which covers the cost of parts only.      This warranty does not apply if the appliance is used in a            commercial or rental application.                                     \n                                                                      This warranty only applies when the product is in use in the          country or territory in which it is purchased.                                                                                              Warranty service can only be obtained by presenting the               appliance to one of the following authorized warranty service         outlets. Proof of purchase will be required before service is         rendered.                                                                                                                                   1. Hoover Sales and Service Centers                                                                                                         2. Hoover Authorized Warranty Service Dealers (Depots)                                                                                      For an automated referral of authorized service outlets in the        U.S.A., phone 1-800-944-9200 OR visit Hoover on-line at               www.hoover.com                                                                                                                              This warranty does not cover pick up, delivery, or house calls;       \nhowever, if you mail your appliance to a Hoover Sales and             Service Center for warranty service, transportation will be paid      one way.                                                                                                                                    While this warranty gives you specific legal rights, you may          also have other rights which vary from state to state.                                                                                      If further assistance is needed, or if there are questions            concerning this warranty or the availability of warranty service      outlets, phone the Hoover Consumer Response Center, Phone 1-330-      499-9499.                                                                                                                                   In Canada, contact Hoover Canada, Burlington, Ontario L7R 4A8,        1-800-263-6376. 21                                                                                                                          Fill in and Save                                                      For your records, enter the model number and serial numbers in        the spaces provided. These numbers are located on the data label      \nPage - 2                                                        N5998                                                                       on the underside of the main body of the cleaner.                     Model No. ____________________________                                Serial No. _____________________________                              Save your sales receipt and attach it to this manual. Proof of        date of purchase may be required for warranty service of your         cleaner.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ",
                        "referenceNumber": "warrN5998",
                        "selected": true
                    }
                ]
            }

            **Response for an ensemble product**

            {
                "id": "14355e7",
                "name": "Kirsch® Valance Rod",
                "isNew": false,
                "rating": 0,
                "reviewCount": 0,
                "type": "ENSEMBLE",
                "description": "<p>\r\n\tUse a valance rod to add a topper treatment to your draperies. Valance rods are specially designed to project farther from the wall so they will not interfere with draperies.</p>\r\n",
                "recommendationsURL": "http://api.jcpenney.com/v2/products/14355e7/recommendations",
                "images": [
                    {
                        "url": "http://zoom.jcpenney.com/is/image/0900631b80bf855aM.TIF",
                        "type": "PRIMARY",
                        "altText": "Kirsch%C2%AE+Valance+Rod"
                    },
                    {
                        "url": "http://zoom.jcpenney.com/is/image/0900631b80bf855aM.TIF",
                        "swatchUrl": "http://zoom.jcpenney.com/is/image/0900631b80bf855aM.TIF",
                        "type": "ALTERNATE",
                        "altText": "Kirsch%C2%AE+Valance+Rod"
                    }
                ],
                "prices": [
                    {
                        "max": 35,
                        "min": 13,
                        "type": "ORIGINAL"
                    },
                    {
                        "max": 35,
                        "min": 13,
                        "type": "DEFAULT"
                    }
                ]
            }

            **Response for an EOB Lot**

            {
                "type": "FURNITURE",
                "name": "SPENCER FL RL/SL",
                "isNew": false,
                "rating": 0,
                "reviewCount": 0,
                "prices": [
                    {
                        "max": 220,
                        "min": 220,
                        "type": "ORIGINAL"
                    },
                    {
                        "max": 130,
                        "min": 130,
                        "type": "SALE"
                    }
                ],
                "skuId": "79059560109"
            }

            **Response for a monogram product**

            {
                "id": "pp5002720035",
                "name": "Stafford® Essentials Broadcloth Dress Shirt - Big & Tall",
                "isNew": false,
                "rating": 4.62,
                "reviewCount": 112,
                "reviewsURL": "http://api.jcpenney.com/v2/products/pp5002720035/reviews",
                "skuId": "53180980315",
                "type": "REGULAR",
                "description": " Stafford® Essentials Everyday dress shirt is a wardrobe staple featuring our commitment to quality and wearability.",
                "recommendationsURL": "http://api.jcpenney.com/v2/products/pp5002720035/recommendations",
                "images": [
                    {
                        "url": "http://zoom.jcpenney.com/is/image/DP0410201317020493M.tif",
                        "type": "PRIMARY",
                        "altText": "Stafford%C2%AE+Essentials+Broadcloth+Dress+Shirt+-+Big+%26+Tall"
                    },
                    {
                        "url": "http://zoom.jcpenney.com/is/image/ImageCatalog/0900631b81ce5a5bM",
                        "swatchUrl": "http://zoom.jcpenney.com/is/image/ImageCatalog/0900631b81ce5a5bM",
                        "type": "ALTERNATE",
                        "altText": "Stafford%C2%AE+Essentials+Broadcloth+Dress+Shirt+-+Big+%26+Tall"
                    }
                ],
                "prices": [
                    {
                        "max": 40,
                        "min": 40,
                        "type": "ORIGINAL"
                    },
                    {
                        "max": 19.99,
                        "min": 19.99,
                        "type": "SALE"
                    }
                ],
                "vdata": {
                    "footerNote": "For the styles 1, 4, and 5 (3 ltrs), the Last Name Initial is placed in the center of the monogram personalization entries will appear exactly as they are",
                    "type": "MONOGRAM",
                    "vdataOptions": [
                        {
                            "title": "TYPE (MONO/PERSONLZ)",
                            "maxRange": 1,
                            "minRange": 1,
                            "minValue": 0,
                            "maxValue": 0,
                            "rules": [
                                {
                                    "description": "PERSONALIZATION TYPE - MUST BE 3 OR 4 (SHIRTS)                        ",
                                    "regularExpression": "[34]"
                                }
                            ],
                            "description": "3=MONOGRAM; 4=PERSONALIZE  (L/S SHIRTS)",
                            "values": [
                                {
                                    "name": "3 - INITIALS",
                                    "value": "3",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3",
                                    "selected": true
                                },
                                {
                                    "name": "4 - NAME",
                                    "value": "4",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=4",
                                    "selected": false
                                }
                            ]
                        },
                        {
                            "title": "THREAD COLOR",
                            "maxRange": 1,
                            "minRange": 1,
                            "minValue": 0,
                            "maxValue": 0,
                            "rules": [
                                {
                                    "description": "ALPHABETIC - MUST CONTAIN ALPHA CHARACTERS ONLY                       ",
                                    "regularExpression": "[a-zA-Z]+"
                                }
                            ],
                            "image": {
                                "url": "http://http://www.jcpenney.com/mobile/images/vdata_color_swatch_row.gif",
                                "altText": "THREAD COLOR"
                            },
                            "description": "REFERENCE LIST OF COLORS",
                            "values": [
                                {
                                    "name": "K",
                                    "value": "K",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K",
                                    "selected": true
                                }
                            ]
                        },
                        {
                            "title": "POSITION / LOCATION",
                            "maxRange": 1,
                            "minRange": 1,
                            "minValue": 0,
                            "maxValue": 0,
                            "rules": [
                                {
                                    "description": "PLACEMENT - MUST BE L FOR LEFT CUFF, R FOR RIGHT CUFF, OR P FOR POCKET",
                                    "regularExpression": "[LRP]"
                                }
                            ],
                            "description": "L=LEFT CUFF,  R=RIGHT CUFF, OR P=POCKET",
                            "values": [
                                {
                                    "name": "LEFT CUFF",
                                    "value": "L",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K&POSITION%20/%20LOCATION=L",
                                    "selected": true
                                },
                                {
                                    "name": "RIGHT CUFF",
                                    "value": "R",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K&POSITION%20/%20LOCATION=R",
                                    "selected": false
                                },
                                {
                                    "name": "POCKET",
                                    "value": "P",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K&POSITION%20/%20LOCATION=P",
                                    "selected": false
                                }
                            ]
                        },
                        {
                            "title": "STYLE NUMBER",
                            "maxRange": 2,
                            "minRange": 1,
                            "minValue": 0,
                            "maxValue": 0,
                            "rules": [
                                {
                                    "description": "LETTER STYLE - MUST BE 1 THRU 11                                      ",
                                    "regularExpression": "[1-9]|1[01]|14"
                                }
                            ],
                            "image": {
                                "url": "http://http://www.jcpenney.com/mobile/images/vdata_style_swatch_row.gif",
                                "altText": "STYLE NUMBER"
                            },
                            "description": "PERSONALIZE=6,7,14 /MONOGRAMS =1,2,3,4,5,8,9,10,11",
                            "values": [
                                {
                                    "name": "STYLE 1 IS 2/3 INITIALS",
                                    "value": "1",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K&POSITION%20/%20LOCATION=L&STYLE%20NUMBER=1",
                                    "selected": true
                                },
                                {
                                    "name": "STYLE 10 IS 2/3 INITIALS",
                                    "value": "10",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K&POSITION%20/%20LOCATION=L&STYLE%20NUMBER=10",
                                    "selected": false
                                },
                                {
                                    "name": "STYLE 11 IS 3 INITIALS",
                                    "value": "11",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K&POSITION%20/%20LOCATION=L&STYLE%20NUMBER=11",
                                    "selected": false
                                },
                                {
                                    "name": "STYLE 14 IS FOR A NAME",
                                    "value": "14",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K&POSITION%20/%20LOCATION=L&STYLE%20NUMBER=14",
                                    "selected": false
                                },
                                {
                                    "name": "STYLE 2 IS 3 INITIALS",
                                    "value": "2",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K&POSITION%20/%20LOCATION=L&STYLE%20NUMBER=2",
                                    "selected": false
                                },
                                {
                                    "name": "STYLE 3 IS 3 INITIALS",
                                    "value": "3",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K&POSITION%20/%20LOCATION=L&STYLE%20NUMBER=3",
                                    "selected": false
                                },
                                {
                                    "name": "STYLE 4 IS 2/3 INITIALS",
                                    "value": "4",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K&POSITION%20/%20LOCATION=L&STYLE%20NUMBER=4",
                                    "selected": false
                                },
                                {
                                    "name": "STYLE 5 IS 2/3 INITIALS",
                                    "value": "5",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K&POSITION%20/%20LOCATION=L&STYLE%20NUMBER=5",
                                    "selected": false
                                },
                                {
                                    "name": "STYLE 6 IS FOR A NAME",
                                    "value": "6",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K&POSITION%20/%20LOCATION=L&STYLE%20NUMBER=6",
                                    "selected": false
                                },
                                {
                                    "name": "STYLE 7 IS FOR A NAME",
                                    "value": "7",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K&POSITION%20/%20LOCATION=L&STYLE%20NUMBER=7",
                                    "selected": false
                                },
                                {
                                    "name": "STYLE 8 IS FOR A SINGLE INITIAL",
                                    "value": "8",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K&POSITION%20/%20LOCATION=L&STYLE%20NUMBER=8",
                                    "selected": false
                                },
                                {
                                    "name": "STYLE 9 IS 3 INITIALS",
                                    "value": "9",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K&POSITION%20/%20LOCATION=L&STYLE%20NUMBER=9",
                                    "selected": false
                                }
                            ]
                        },
                        {
                            "title": "FIRST NAME INITIAL",
                            "maxRange": 1,
                            "minRange": 1,
                            "minValue": 0,
                            "maxValue": 0,
                            "rules": [
                                {
                                    "description": "ALPHABETIC - MUST CONTAIN ALPHA CHARACTERS ONLY                       ",
                                    "regularExpression": "[a-zA-Z]+"
                                },
                                {
                                    "description": "OPTIONAL - INPUT FIELD DOES NOT REQUIRE ENTRY BY THE CSR              ",
                                    "regularExpression": "\n\t\t\t"
                                }
                            ],
                            "description": "FIRST NAME INITAL FOR MONO(STYLES1,2,3,4,5,9,10,11",
                            "values": [
                                {
                                    "name": "A",
                                    "value": "A",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K&POSITION%20/%20LOCATION=L&STYLE%20NUMBER=1&FIRST%20NAME%20INITIAL=A",
                                    "selected": true
                                }
                            ]
                        },
                        {
                            "title": "MIDDLE NAME INITIAL",
                            "maxRange": 1,
                            "minRange": 1,
                            "minValue": 0,
                            "maxValue": 0,
                            "rules": [
                                {
                                    "description": "ALPHABETIC - MUST CONTAIN ALPHA CHARACTERS ONLY                       ",
                                    "regularExpression": "[a-zA-Z]+"
                                },
                                {
                                    "description": "OPTIONAL - INPUT FIELD DOES NOT REQUIRE ENTRY BY THE CSR              ",
                                    "regularExpression": "\n\t\t\t"
                                }
                            ],
                            "description": "MDLE NAME INITAL FOR MONO(STYLES 1,2,3,4,5,9,10,11",
                            "values": [
                                {
                                    "name": "L",
                                    "value": "L",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K&POSITION%20/%20LOCATION=L&STYLE%20NUMBER=1&FIRST%20NAME%20INITIAL=A&MIDDLE%20NAME%20INITIAL=L",
                                    "selected": true
                                }
                            ]
                        },
                        {
                            "title": "LAST NAME INITIAL",
                            "maxRange": 1,
                            "minRange": 1,
                            "minValue": 0,
                            "maxValue": 0,
                            "rules": [
                                {
                                    "description": "ALPHABETIC - MUST CONTAIN ALPHA CHARACTERS ONLY                       ",
                                    "regularExpression": "[a-zA-Z]+"
                                },
                                {
                                    "description": "OPTIONAL - INPUT FIELD DOES NOT REQUIRE ENTRY BY THE CSR              ",
                                    "regularExpression": "\n\t\t\t"
                                }
                            ],
                            "description": "SINGLE/LAST NAME INITIAL(STYLES1,2,3,4,5,8,9,10,11",
                            "values": [
                                {
                                    "name": "P",
                                    "value": "P",
                                    "url": "http://api.jcpenney.com/v2/products/pp5002720035?TYPE%20(MONO/PERSONLZ)=3&THREAD%20COLOR=K&POSITION%20/%20LOCATION=L&STYLE%20NUMBER=1&FIRST%20NAME%20INITIAL=A&MIDDLE%20NAME%20INITIAL=L&LAST%20NAME%20INITIAL=P",
                                    "selected": true
                                }
                            ]
                        }
                    ]
                },
                "options": [
                    {
                        "type": "SIZE_RANGE",
                        "name": "SIZE RANGE",
                        "values": [
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002720035?SIZE_RANGE=Extra%20Tall",
                                "selected": true,
                                "available": true,
                                "value": "Extra Tall"
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002720035?SIZE_RANGE=Big",
                                "selected": false,
                                "available": true,
                                "value": "Big"
                            }
                        ]
                    },
                    {
                        "type": "SKU_OPTION",
                        "name": "NECK SIZE",
                        "values": [
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002720035?SIZE_RANGE=Extra%20Tall&NECK%20SIZE=16",
                                "selected": true,
                                "available": true,
                                "value": "16"
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002720035?SIZE_RANGE=Extra%20Tall&NECK%20SIZE=16.5",
                                "selected": false,
                                "available": true,
                                "value": "16.5"
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002720035?SIZE_RANGE=Extra%20Tall&NECK%20SIZE=17",
                                "selected": false,
                                "available": true,
                                "value": "17"
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002720035?SIZE_RANGE=Extra%20Tall&NECK%20SIZE=17.5",
                                "selected": false,
                                "available": true,
                                "value": "17.5"
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002720035?SIZE_RANGE=Extra%20Tall&NECK%20SIZE=18",
                                "selected": false,
                                "available": true,
                                "value": "18"
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002720035?SIZE_RANGE=Extra%20Tall&NECK%20SIZE=18.5",
                                "selected": false,
                                "available": true,
                                "value": "18.5"
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002720035?SIZE_RANGE=Extra%20Tall&NECK%20SIZE=19",
                                "selected": false,
                                "available": true,
                                "value": "19"
                            }
                        ]
                    },
                    {
                        "type": "SKU_OPTION",
                        "name": "SLEEVE",
                        "values": [
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002720035?SIZE_RANGE=Extra%20Tall&NECK%20SIZE=16&SLEEVE=35-36",
                                "selected": true,
                                "available": true,
                                "value": "35-36"
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002720035?SIZE_RANGE=Extra%20Tall&NECK%20SIZE=16&SLEEVE=36-37",
                                "selected": false,
                                "available": false,
                                "value": "36-37"
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002720035?SIZE_RANGE=Extra%20Tall&NECK%20SIZE=16&SLEEVE=37-38",
                                "selected": false,
                                "available": true,
                                "value": "37-38"
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002720035?SIZE_RANGE=Extra%20Tall&NECK%20SIZE=16&SLEEVE=38-39",
                                "selected": false,
                                "available": true,
                                "value": "38-39"
                            }
                        ]
                    },
                    {
                        "name": "SKU_OPTION",
                        "displayText": "COLOR",
                        "optionValues": [
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002720035?SIZE_RANGE=Extra%20Tall&NECK%20SIZE=16&SLEEVE=35-36&COLOR=Black",
                                "selected": true,
                                "available": true,
                                "value": "Black",
                                "image": {
                                    "swatchUrl": "http://m.jcpenney.com/mobile/images/0900631b81cf057eS.jpg",
                                    "type": "SWATCH",
                                    "altText": "Black"
                                }
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002720035?SIZE_RANGE=Extra%20Tall&NECK%20SIZE=16&SLEEVE=35-36&COLOR=Blooming%20Blue",
                                "selected": false,
                                "available": true,
                                "value": "Blooming Blue",
                                "image": {
                                    "swatchUrl": "http://m.jcpenney.com/mobile/images/0900631b81ce5a1aS.jpg",
                                    "type": "SWATCH",
                                    "altText": "Blooming Blue"
                                }
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002720035?SIZE_RANGE=Extra%20Tall&NECK%20SIZE=16&SLEEVE=35-36&COLOR=Rock%20Gray",
                                "selected": false,
                                "available": true,
                                "value": "Rock Gray",
                                "image": {
                                    "swatchUrl": "http://m.jcpenney.com/mobile/images/0900631b81ce5a1fS.jpg",
                                    "type": "SWATCH",
                                    "altText": "Rock Gray"
                                }
                            },
                            {
                                "url": "http://api.jcpenney.com/v2/products/pp5002720035?SIZE_RANGE=Extra%20Tall&NECK%20SIZE=16&SLEEVE=35-36&COLOR=White",
                                "selected": false,
                                "available": true,
                                "value": "White",
                                "image": {
                                    "swatchUrl": "http://m.jcpenney.com/mobile/images/0900631b81ce5a20S.jpg",
                                    "type": "SWATCH",
[...]
